.common-button {
    color: #fff !important;
    text-transform: none !important;
    background-color: #050C9C !important;
 }
 .button-cancel{
    color: red !important;
    background-color: #fff !important;
    border: none !important;
 }